@import "utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    font-size: 16px;
    color: $textColor;
}

// Grid area names

nav {
    grid-area: nav;
}

.greeting {
    grid-area: greeting;
}

.video {
    grid-area: video;
}

.takeaways {
    grid-area: takeaways;
}

footer {
    grid-area: footer;
}

// Mobile-first grids
// Home grid
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 2fr 8%;
    grid-template-areas:
        "nav"
        "greeting"
        "footer";
}

// Resource grid
.resource-grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr 8%;
    grid-template-areas:
        "nav"
        "video"
        "takeaways"
        "footer";
}

// Desktop grids
// Resource grid
@media screen and (min-width: 1200px) {
    nav {
        grid-area: nav;
    }

    .greeting {
        grid-area: greeting;
    }

    .video {
        grid-area: video;
    }

    .takeaways {
        grid-area: takeaways;
    }

    footer {
        grid-area: footer;
    }
    
    .resource-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr 8%;
        grid-template-areas:
            "nav nav"
            "video takeaways"
            "footer footer";
    }
}