@import "utilities";
@import "base";

.greeting {
    margin: 2em 0 2em 0;
    padding: 0 1em 0 1.5em;
    
    .left-align {
        margin-bottom: 1em;
        border-left: 6px solid $color3;
        padding-left: 0.75em;
    }

    .welcome-text-block {
        line-height: 1.75;

        .benefit-list {
            margin: 1em 0 1em 0;
            padding-left: 1.25em;

            li {
                margin: 0.63em;

                .plus-icons {
                    color: $color4;
                }
            }
        }

        .contact-icons {
            color: $color5;
            font-size: 1.25em;
        }
    }

    .right-align {
        text-align: right;
        border-right: 6px solid $color3;
        padding-right: 1.5em;

        h3 {
            margin-top: 1em;
        }
    }
}