// Tablet
@media screen and (min-width: 768px) {
    .logo {
        font-size: 1.75em;
    }

    .toggle {
        font-size: 1.75em;
    }
    
    .greeting {
        margin: 3em 0 3em 0;
        padding: 0 5em 0 5em;

        h1 {
            font-size: 2.5em; 
        }

        p, li {
            font-size: 1.25em;
        }

        .welcome-text-block {
            .contact-icons {
                font-size: 1.45em;
            }
        }

        .right-align {
            h3 {
                font-size: 1.75em;
                margin-top: 2em;
            }
        }
    }

    .takeaways {
        margin-top: 0;
    }
}

// Desktop
@media screen and (min-width: 1200px) {
    // Home page
    .greeting {
        padding: 0 20em 0 21em;
    }

    nav {
        grid-area: nav;
    }

    footer {
        grid-area: footer;
    }
    
    // Resource pages
    .resource-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto) 1fr 5%;
        grid-template-areas:
            "nav nav"
            "video video"
            "takeaway-header takeaway-header"
            "takeaways codeblocks"
            "footer footer";
    }

    .video {
        grid-area: video;
        margin: 2em 0 2em 0;
        padding: 0 1em 0 1.5em;
        
        .wrapper {
            width: 50%;
        }
    }

    .takeaway-header {
        grid-area: takeaway-header;
        justify-self: center;
        margin-top: 2em;
    }

    .takeaways, .codeblocks {
        margin: 2em 2em;
        padding: 0 1em 0 1.5em;
    }

    .takeaways {
        grid-area: takeaways;

        ul {
            li {
                margin-bottom: 2em;
            }
        }
    }

    .codeblocks {
        grid-area: codeblocks;
    }

    .takeaways, .codeblocks {
        align-self: center;
    }
}