// Tablet
@media screen and (min-width: 768px) {
    .logo {
        font-size: 1.75em;
    }

    .toggle {
        font-size: 1.75em;
    }
    
    .greeting {
        margin: 3em 0 3em 0;
        padding: 0 5em 0 5em;

        h1 {
            font-size: 2.5em; 
        }

        p, li {
            font-size: 1.25em;
        }

        .welcome-text-block {
            .contact-icons {
                font-size: 1.45em;
            }
        }

        .right-align {
            h3 {
                font-size: 1.75em;
                margin-top: 2em;
            }
        }
    }

    .takeaways {
        margin-top: 0;
    }
}