@import "utilities";
@import "base";

.video, .takeaways {
    @include partialFlexCenter(column);
    @extend .greeting;
}

.video {
    h2 {
        margin-bottom: 0.5em;
    }
}

.wrapper {
    width: 100%;
    margin-top: 2.5em;

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        border: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 10px double rgb(209, 209, 209);
            padding: 10px;
        }
    }
}

.takeaway-header {
    margin-bottom: 0.5em;
}

.takeaways {
    line-height: 1.75;
    margin-top: 1em;
    margin-bottom: 0;

    ul {
        @extend .benefit-list;

        li {
            margin: 0.63em;
            
            .code-icons {
                color: $color4;
            }
        }
    }
}

.codeblocks {
    margin: 0 1em;

    pre {
        code {
            border: 10px inset rgb(209, 209, 209);
            display: inline-block;
            padding: 1em 0 0.5em 0;
            color: #fff;
            background-color: #292e30;
            white-space: pre-wrap;
            display: flex;
            font-size: 0.75em;
        }

        .xs-code {
            font-size: 0.63em;
        }
    }
}