@import "utilities";
@import "base";

.video, .takeaways {
    @include partialFlexCenter(column);
    @extend .greeting;
}

.video {
    h2 {
        margin-bottom: 0.5em;
    }
}

.wrapper {
    width: 100%;
    margin-top: 2.5em;

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        border: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 10px double rgb(209, 209, 209);
            padding: 10px;
        }
    }
}

.takeaways {
    line-height: 1.75;
    margin-top: 1em;

    h2 {
        margin-bottom: 0.5em;
    }

    ul {
        @extend .benefit-list;

        li {
            margin: 0.63em;
            
            .code-icons {
                color: $color4;
            }
        }
    }
}

.codeblocks {
    code {
        border: 7px solid #84a9c0;
        display: inline-block;
        padding: 1em 0 0.5em 0;
        color: #fff;
        background-color: #464f51;
        white-space: pre-wrap;
        display: flex;
        justify-content: start;
    }
}