// Variables
$color1: #ddd8b8;
$color2: #b3cbb9;
$color3: #84a9c0;
$color4: #6b0504;
$color5: #6e8fa3;
$textColor: #464f51;

$mainFont: 'Work Sans', sans-serif;


// Mixins
@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin partialFlexCenter ($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;    
}