* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #464f51;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.greeting, .video, .takeaways {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: greeting;
}

.video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
}

.takeaway-header {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: takeaway-header;
      justify-self: center;
}

.takeaways {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: takeaways;
}

.codeblocks {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: codeblocks;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 2fr 8%;
      grid-template-rows: auto 2fr 8%;
      grid-template-areas: "nav" "greeting" "footer";
}

.resource-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[3] 1fr 1fr 8%;
      grid-template-rows: repeat(3, auto) 1fr 1fr 8%;
      grid-template-areas: "nav" "video" "takeaway-header" "takeaways" "codeblocks" "footer";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #464f51;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.greeting, .video, .takeaways {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: greeting;
}

.video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
}

.takeaway-header {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: takeaway-header;
      justify-self: center;
}

.takeaways {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: takeaways;
}

.codeblocks {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: codeblocks;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 2fr 8%;
      grid-template-rows: auto 2fr 8%;
      grid-template-areas: "nav" "greeting" "footer";
}

.resource-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[3] 1fr 1fr 8%;
      grid-template-rows: repeat(3, auto) 1fr 1fr 8%;
      grid-template-areas: "nav" "video" "takeaway-header" "takeaways" "codeblocks" "footer";
}

nav {
  background: #6b0504;
  padding: 0 15px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 1.25em;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile Menu */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 1.25em;
}

.item.button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.item {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #6b0504 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 0.75em;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #6b0504;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .item.button {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
  .toggle {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #6b0504;
    border: 1px #6b0504 solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #6b0504 solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: #6b0504;
    border-color: #6b0504;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background: none;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #6b0504;
  }
  .submenu {
    z-index: 1;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

footer {
  background: #6b0504;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #464f51;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.greeting, .video, .takeaways {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: greeting;
}

.video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
}

.takeaway-header {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: takeaway-header;
      justify-self: center;
}

.takeaways {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: takeaways;
}

.codeblocks {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: codeblocks;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 2fr 8%;
      grid-template-rows: auto 2fr 8%;
      grid-template-areas: "nav" "greeting" "footer";
}

.resource-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[3] 1fr 1fr 8%;
      grid-template-rows: repeat(3, auto) 1fr 1fr 8%;
      grid-template-areas: "nav" "video" "takeaway-header" "takeaways" "codeblocks" "footer";
}

.greeting, .video, .takeaways {
  margin: 2em 0 2em 0;
  padding: 0 1em 0 1.5em;
}

.greeting .left-align, .video .left-align, .takeaways .left-align {
  margin-bottom: 1em;
  border-left: 6px solid #84a9c0;
  padding-left: 0.75em;
}

.greeting .welcome-text-block, .video .welcome-text-block, .takeaways .welcome-text-block {
  line-height: 1.75;
}

.greeting .welcome-text-block .benefit-list, .video .welcome-text-block .benefit-list, .takeaways .welcome-text-block .benefit-list, .greeting .welcome-text-block .takeaways ul, .takeaways .greeting .welcome-text-block ul, .video .welcome-text-block .takeaways ul, .takeaways .video .welcome-text-block ul, .takeaways .welcome-text-block ul {
  margin: 1em 0 1em 0;
  padding-left: 1.25em;
}

.greeting .welcome-text-block .benefit-list li, .video .welcome-text-block .benefit-list li, .takeaways .welcome-text-block .benefit-list li, .greeting .welcome-text-block .takeaways ul li, .takeaways .greeting .welcome-text-block ul li, .video .welcome-text-block .takeaways ul li, .takeaways .video .welcome-text-block ul li, .takeaways .welcome-text-block ul li {
  margin: 0.63em;
}

.greeting .welcome-text-block .benefit-list li .plus-icons, .video .welcome-text-block .benefit-list li .plus-icons, .takeaways .welcome-text-block .benefit-list li .plus-icons, .greeting .welcome-text-block .takeaways ul li .plus-icons, .takeaways .greeting .welcome-text-block ul li .plus-icons, .video .welcome-text-block .takeaways ul li .plus-icons, .takeaways .video .welcome-text-block ul li .plus-icons, .takeaways .welcome-text-block ul li .plus-icons {
  color: #6b0504;
}

.greeting .welcome-text-block .contact-icons, .video .welcome-text-block .contact-icons, .takeaways .welcome-text-block .contact-icons {
  color: #6e8fa3;
  font-size: 1.25em;
}

.greeting .right-align, .video .right-align, .takeaways .right-align {
  text-align: right;
  border-right: 6px solid #84a9c0;
  padding-right: 1.5em;
}

.greeting .right-align h3, .video .right-align h3, .takeaways .right-align h3 {
  margin-top: 1em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #464f51;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.greeting, .video, .takeaways {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: greeting;
}

.video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
}

.takeaway-header {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: takeaway-header;
      justify-self: center;
}

.takeaways {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: takeaways;
}

.codeblocks {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: codeblocks;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 2fr 8%;
      grid-template-rows: auto 2fr 8%;
      grid-template-areas: "nav" "greeting" "footer";
}

.resource-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[3] 1fr 1fr 8%;
      grid-template-rows: repeat(3, auto) 1fr 1fr 8%;
      grid-template-areas: "nav" "video" "takeaway-header" "takeaways" "codeblocks" "footer";
}

.video, .takeaways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video h2 {
  margin-bottom: 0.5em;
}

.wrapper {
  width: 100%;
  margin-top: 2.5em;
}

.wrapper .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  border: 0;
  overflow: hidden;
}

.wrapper .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px double #d1d1d1;
  padding: 10px;
}

.takeaways {
  line-height: 1.75;
  margin-top: 1em;
}

.takeaways h2 {
  margin-bottom: 0.5em;
}

.takeaways ul li {
  margin: 0.63em;
}

.takeaways ul li .code-icons {
  color: #6b0504;
}

.codeblocks code {
  border: 10px inset #d1d1d1;
  display: inline-block;
  padding: 1em 0 0.5em 0;
  color: #fff;
  background-color: #292e30;
  white-space: pre-wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 1.75em;
  }
  .toggle {
    font-size: 1.75em;
  }
  .greeting, .video, .takeaways {
    margin: 3em 0 3em 0;
    padding: 0 5em 0 5em;
  }
  .greeting h1, .video h1, .takeaways h1 {
    font-size: 2.5em;
  }
  .greeting p, .video p, .takeaways p, .greeting li, .video li, .takeaways li {
    font-size: 1.25em;
  }
  .greeting .welcome-text-block .contact-icons, .video .welcome-text-block .contact-icons, .takeaways .welcome-text-block .contact-icons {
    font-size: 1.45em;
  }
  .greeting .right-align h3, .video .right-align h3, .takeaways .right-align h3 {
    font-size: 1.75em;
    margin-top: 2em;
  }
  .takeaways {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .greeting, .video, .takeaways {
    padding: 0 20em 0 21em;
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
  }
  footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .resource-grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[3] 1fr 5%;
        grid-template-rows: repeat(3, auto) 1fr 5%;
        grid-template-areas: "nav nav" "video video" "takeaway-header takeaway-header" "takeaways codeblocks" "footer footer";
  }
  .video {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: video;
    margin: 2em 0 2em 0;
    padding: 0 1em 0 1.5em;
  }
  .video .wrapper {
    width: 50%;
  }
  .takeaway-header {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: takeaway-header;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 1em 0 1em 0;
  }
  .takeaways, .codeblocks {
    margin: 2em 2em;
    padding: 0 1em 0 1.5em;
  }
  .takeaways {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: takeaways;
    margin-left: 6em;
  }
  .takeaways ul li {
    margin-bottom: 2em;
  }
  .codeblocks {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: codeblocks;
    margin-right: 6em;
  }
  .takeaways, .codeblocks {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=main.css.map */